.content {
  position: absolute;
  top: 80px;
  left: 50%;
  transform: translateX(-50%);
}
@media screen and (max-width: 769px) {
  .mobile-content {
    top: 30px;
    left: 50%;
    transform: translateX(-50%);
  }
}